<launch>
  <!-- Visual raw-data entry plus MID360 point cloud and MID360 IMU. -->
  <arg name="host" default="127.0.0.1" doc="ORBVI device IP or hostname"/>
  <arg name="control_port" default="18088" doc="ORBVI Host SDK control port"/>

  <node pkg="orbvi_ros_bridge" type="orbvi_ros_bridge_node" name="orbvi_ros_bridge" output="screen">
    <param name="host" value="$(arg host)"/>
    <param name="control_port" value="$(arg control_port)"/>
    <param name="streams" value="raw,rectified,imu,lidar,lidar_imu,disparity,depth,vio"/>
    <param name="topic_prefix" value="/orbvi"/>
  </node>
</launch>
