<launch>
  <!-- MID360 entry: visual topics plus MID360 point cloud and MID360 IMU. -->
  <arg name="host" default="127.0.0.1" doc="ORBVI device IP or hostname"/>

  <node pkg="orbvi_ros_bridge" type="orbvi_ros_bridge_node" name="orbvi_ros_bridge" output="screen">
    <param name="host" value="$(arg host)"/>
    <param name="streams" value="raw,rectified,imu,lidar,lidar_imu,disparity,depth,vio"/>
  </node>
</launch>
